
    .get-data{
        padding-left: 2%;
        border-radius: 4px;
        font-size: 15px;
        padding-right: 2%;
        border: 1px solid #ee4961;
        color: #fff;
        background-color: white;
        background-color: #ee4961;
    }

    
  .create-account-field {
        font-size: 13px !important;
        width:53% !important;
        // .mat-form-field {

        // }
    }

    .create-account-field-inputsearch {
        font-size: 13px !important;

        .mat-form-field {
            width: 70% !important;
        }
    }
    .input-header {
    color: #5F6C81;
    font-family: "DM Sans";
    font-size: 14px;
    font-weight: 400;
}